@if (!loading()) {
<div class="w-screen min-h-screen">
  <div class="w-full min-h-screen flex">
    <app-sidebar [userId]="userData()?.userId || ''" />

    <!-- Rest of content -->
    <div class="w-full h-full pt-20 px-10 md:p-20">
      <h1 class="text-3xl md:text-5xl pb-5 font-semibold">Dashboard</h1>
      <h1 class="text-xl md:text-3xl pb-10 md:pb-20">
        Welcome, {{ user()?.preferred_username }}!
      </h1>
      <app-drag-n-drop [tasks]="tasks()" />
    </div>
  </div>
</div>
} @else {
<div class="min-w-screen min-h-screen flex items-center justify-center">
  <hlm-spinner size="lg" />
</div>
}
