<div cdkDropListGroup class="flex h-full flex-wrap gap-12 py-6">
  <!-- To Do Column -->
  <div class="w-full max-w-md min-h-32 mb-8 inline-block align-top">
    <h2 class="text-xl font-bold mb-6">To Do</h2>
    <div
      cdkDropList
      #todoList
      [cdkDropListData]="todo"
      class="border border-gray-400 rounded-lg bg-white overflow-hidden space-y-4 p-4 min-h-32"
      (cdkDropListDropped)="drop($event, 'todo')"
    >
      @for (task of todo; track $index) {
      <app-task-card cdkDrag [task]="task"></app-task-card>
      }
    </div>
  </div>

  <!-- In Progress Column -->
  <div class="w-full max-w-md min-h-32 mb-8 inline-block align-top">
    <h2 class="text-xl font-bold mb-6">In Progress</h2>
    <div
      cdkDropList
      #inProgressList
      [cdkDropListData]="inProgress"
      class="border border-gray-400 rounded-lg bg-white overflow-hidden space-y-4 p-4 min-h-32"
      (cdkDropListDropped)="drop($event, 'in_progress')"
    >
      @for (task of inProgress; track $index) {
      <app-task-card cdkDrag [task]="task"></app-task-card>
      }
    </div>
  </div>

  <!-- Completed Column -->
  <div class="w-full max-w-md min-h-32 mb-8 inline-block align-top">
    <h2 class="text-xl font-bold mb-6">Completed</h2>
    <div
      cdkDropList
      #completedList
      [cdkDropListData]="completed"
      class="border border-gray-400 rounded-lg bg-white overflow-hidden space-y-4 p-4 min-h-32"
      (cdkDropListDropped)="drop($event, 'completed')"
    >
      @for (task of completed; track $index) {
      <app-task-card cdkDrag [task]="task"></app-task-card>
      }
    </div>
  </div>
</div>
