<hlm-sheet side="right">
  <div class="h-2"></div>
  <div
    class="w-full flex items-center justify-between px-6 py-4 border border-gray-300 bg-gray-50 rounded-lg shadow-md cursor-move text-lg"
    cdkDrag
  >
    <p class="text-sm md:text-base">{{ task.title }}</p>
    <div class="flex">
      <button
        class="hover:cursor-pointer hover:bg-opacity-20 bg-opacity-0 p-2 bg-gray-800 rounded-xl flex items-center justify-center transition-all"
        hlmTooltipTrigger="Edit Task"
        brnSheetTrigger
      >
        <hlm-icon name="lucidePen" size="base"></hlm-icon>
      </button>
      <hlm-alert-dialog>
        <button
          class="hover:cursor-pointer hover:bg-opacity-20 bg-opacity-0 p-2 bg-gray-800 rounded-xl flex items-center justify-center transition-all"
          hlmTooltipTrigger="Delete Task"
          brnAlertDialogTrigger
        >
          <hlm-icon name="lucideTrash" color="red" size="base"></hlm-icon>
        </button>

        <hlm-alert-dialog-content *brnAlertDialogContent="let ctx">
          <hlm-alert-dialog-header>
            <h3 hlmAlertDialogTitle>Are you sure?</h3>
            <p hlmAlertDialogDescription>
              This action cannot be undone. This will permanently delete this
              task and remove it from our servers.
            </p>
          </hlm-alert-dialog-header>
          <hlm-alert-dialog-footer>
            <button hlmAlertDialogCancel (click)="ctx.close()">Cancel</button>
            <button hlmAlertDialogAction (click)="handleDeleteTask()">
              Delete task
            </button>
          </hlm-alert-dialog-footer>
        </hlm-alert-dialog-content>
      </hlm-alert-dialog>
    </div>
  </div>
  <div class="h-2"></div>

  <hlm-sheet-content *brnSheetContent="let ctx">
    <form [formGroup]="form" (ngSubmit)="handleUpdateTask()">
      <hlm-sheet-header>
        <h3 hlmSheetTitle>Edit Task</h3>
        <p hlmSheetDescription>
          Make changes to your task here. Click save when you're done.
        </p>
      </hlm-sheet-header>

      <div class="py-4 grid gap-4">
        <hlm-form-field class="items-center grid grid-cols-4 gap-4">
          <label hlmLabel for="title" class="md:text-md text-xs md:text-right"
            >Title <span class="text-red-500">*</span>
          </label>
          <input
            formControlName="title"
            hlmInput
            id="title"
            class="col-span-3"
          />
        </hlm-form-field>
        <hlm-form-field class="items-center grid grid-cols-4 gap-4">
          <label
            hlmLabel
            for="username"
            class="md:text-md text-xs md:text-right"
            >Description</label
          >
          <input
            hlmInput
            id="description"
            class="col-span-3"
            formControlName="description"
          />
        </hlm-form-field>
        <hlm-form-field class="grid grid-cols-4 gap-4 items-center">
          <label
            hlmLabel
            for="description"
            class="md:text-md text-xs md:text-right"
            >Deadline</label
          >
          <input
            hlmInput
            formControlName="deadline"
            class="col-span-3"
            type="date"
          />
        </hlm-form-field>
        <hlm-form-field class="items-center grid grid-cols-4 gap-4">
          <label hlmLabel for="status" class="md:text-md text-xs md:text-right"
            >Status
            <span class="text-red-500">*</span>
          </label>
          <brn-select class="inline-block" formControlName="status">
            <hlm-select-trigger class="w-56">
              <hlm-select-value></hlm-select-value>
            </hlm-select-trigger>
            <hlm-select-content>
              <hlm-option value="todo">To Do</hlm-option>
              <hlm-option value="in_progress">In Progress</hlm-option>
              <hlm-option value="completed">Completed</hlm-option>
            </hlm-select-content>
          </brn-select>
        </hlm-form-field>
      </div>

      <hlm-sheet-footer>
        <button [disabled]="form.invalid" hlmBtn type="submit">
          Save Changes
        </button>
      </hlm-sheet-footer>
    </form>
  </hlm-sheet-content>
</hlm-sheet>
